
.body-page {
    font-family: sans-serif;
    background-color: #171717;
}
.container{
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;  
}
.page-header{
    padding-top: 20px;
    margin-bottom: 120px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}

.callback-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px;
}
.callback-icon{
    margin-right: 8px;
}

.main-page{
    color: #FFFFFF;
    padding-bottom: 240px;
}

.section-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}
.external-networks-subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
    margin-bottom: 41px;
}
.external-networks-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.external-network-item{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 43px;
    width: 100%;
    height: 100%;

}
.external-network-text{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}
.item1{
    grid-row: 1;
    grid-column: 1 / 3;
    background-color: #634F2C;
}
.item2{
    grid-row: 1;
    grid-column: 3 / 5;
    background-color: #B4A385;
}
.item3{
    grid-row: 1;
    grid-column: 5 / 7;
    background-color: #E4B564;
}
.item4{
    grid-row: 2;
    grid-column: 1 / 4;
    background-color: #635A4A;
}
.item5{
    grid-row: 2;
    grid-column: 4 / 7;
    background-color: #B08C4D;
}

.construction-machinery{
    margin-top: 161px;
    padding-bottom: 210px;
}
.construction-machinery-list{
    margin-top: 95px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    max-height: 900px;
}
.construction-machinery-item{
    width: 467px;
    padding: 50px;
}
.machinery-item1{
    height: 310px;
    background-color: #0E0E0E;
}
.machinery-item2{
    height: 560px;
    background-color: #1F1F1F;
}
.machinery-item3{
    height: 440px;
    background-color: #242424;
}
.machinery-item4{
    height: 405px;
    color: #000;
    background-color: #E4B564;
}
.machinery-item5{
    height: 255px;
    background-color: #1F1F1F;
}
.machinery-item6{
    height: 310px;
    background-color: #0E0E0E;
}
.machinery-item7{
    height: 275px;
    background-color: #0A0909;
}
.construction-machinery-text{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.bold-text{
    font-weight: 800;
}


.our-clients{
    background-color: #0E0E0E;
    padding-top: 172px;
}
.our-clients-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
}
.all-projects-btn{
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}
.our-clients-list{
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 0;
    margin-bottom: 0;
}
.our-clients-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.clients-item1{
    background-color: #634F2C;
}
.clients-item2 {
    background-color: #E8D2ABC2;
    flex-direction: column;
}
.mavis-text{
    max-width: 325px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}
.thin-text{
    font-weight: 100;
}
.clients-item3 {
    background-color: #E4B564;
}
.clients-item4 {
    background-color: #635A4A;
}
.clients-item5 {
    background-color: #B08C4D;
}
.clients-item6 {
    background-color: #634F2C;
}